@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: url(../images/park.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Andika', sans-serif;
}
a{
  text-decoration: none;
}


.main-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box{
  display: flex;
  gap: 1.2rem;
}
.box-title{
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}
.box{
  background-color: skyblue;
  border: 1px solid #000;
  height: 200px;
  width: 200px;
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  cursor: pointer;
}
.box:hover{
  transform: scale(1.1);
}

/* BACK BTN SECTION */
.back-btn{
  margin-top: 2rem;
  margin-left: 10px;
  height: 3rem;
  width: 10rem;
  font-size: 1.8rem;
  background-color: chocolate;
  border: none;
  color: #fff;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}
.back-btn:hover{
  transition: all .5s;
  transform: translateY(-12px);
}